/*
#2C9AB7 -- blue
#393939 -- dark grey
#ebebeb -- light grey
*/

* {
  box-sizing: border-box;
}

body {
  color: #393939;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 13vw 2fr 1fr 13vw;
  grid-template-rows: 1.5fr 80px 4fr 2fr;
  grid-template-areas:
    "header header header header"
    ". nav nav ."
    ". main aside ."
    "footer footer footer footer";
}

.header {
  grid-area: header;
  background-color: #ebebeb;
}

.nav {
  grid-area: nav;
  background-color: #ebebeb;
}

.main {
  grid-area: main;
  margin-top: 2.5rem;
  margin-right: 2rem;
  line-height: 1.5;
}

.aside {
  grid-area: aside;
  margin-top: 2.5rem;
  margin-left: 2rem;
  line-height: 1.5;
}

.footer {
  grid-area: footer;
  background-image: url("../images/lesson04-mock4-footer-image.jpg");
  background-size: cover;
  color: #ffffff;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container::before {
  content: "";
  background-color: #ebebeb;
  grid-column: 1;
  grid-row: 2;
}

.container::after {
  content: "";
  background-color: #ebebeb;
  grid-column: 4;
  grid-row: 2;
}

.banner {
  background-image:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("../images/lesson04-mock2-banner-image.jpg");

  /*background-image: url("../images/lesson04-mock2-banner-image.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem;
}

h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 4rem;
  margin-left: 8rem;
}

.headline-subtitle {
  color: #ffffff;
  font-size: 2rem;
  font-style: italic;
  margin-left: 8rem;
}

a {
  text-decoration: none;
}

.nav > ul {
  display: flex;
  flex-direction: row;
  height: 80px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
}

footer li + li:before,
nav li + li:before {
  content: "/";
  margin: 0 10px;
}

.nav-text {
  color: #393939;
  font-weight: 600;
  font-size: 1.2rem;
}

h2 {
  color: #2C9AB7;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

h3 {
  text-transform: uppercase;
  font-size: 1.3rem;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.blockquote {
  margin-left: 0;
  color: #2C9AB7;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.article > p {
  margin-bottom: 1.2rem;
}

.figure {
  margin-left: 0;
  margin-top: 3rem;
}

figcaption {
  margin-top: 1rem;
}

.aside-links {
  display: block;
  color: #2C9AB7;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

.main-links {
  color: #2C9AB7;
}

.footer ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.footer-text {
  width: 30vw;
  text-align: center;
  line-height: 1.5;
}

.footer-links {
  color: #ffffff;
  font-weight: 600;
}

.footer-logo {
  margin-bottom: 2.5rem;
}
