/*
#2c99b7 -- blue
#393939 -- dark grey
#ebebeb -- light grey
*/

* {
  box-sizing: border-box;
}

body {
  color: #393939;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 10vw 2fr 1fr 10vw;
  grid-template-rows: 3fr 1fr 5fr 3fr;
  grid-template-areas:
    "header header header header"
    ". nav nav ."
    ". main aside ."
    "footer footer footer footer";
}

.header {
  grid-area: header;
  background-color: #ebebeb;
}

.nav {
  grid-area: nav;
  background-color: #ebebeb;
}

.main {
  grid-area: main;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
  background-image: url("../images/lesson04-mock4-footer-image.jpg");
  background-size: cover;
  color: #ffffff;
  padding: 4rem;
}

.container::before {
  content: "";
  background-color: #ebebeb;
  grid-column: 1;
  grid-row: 2;
}

.container::after {
  content: "";
  background-color: #ebebeb;
  grid-column: 4;
  grid-row: 2;
}

.banner {
  background-image: url("../images/lesson04-mock2-banner-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem;
}

h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 4rem;
  margin-left: 8rem;
}

.headline-subtitle {
  color: #ffffff;
  font-size: 2rem;
  font-style: italic;
  margin-left: 8rem;
}

.nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  /*margin-left: 13vw;*/
  align-items: center;
}

nav li + li:before {
  content: "/";
  margin: 0 10px;
}

h2 {
  color: #2c99b7;
}

h3 {
  text-transform: uppercase;
}
