/*
#2c99b7 -- blue
#393939 -- dark grey
#ebebeb -- light grey
*/

* {
  box-sizing: border-box;
}

body {
  color: #393939;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.banner-image {
  background-image: url("../images/lesson04-mock2-banner-image.jpg");
  background-repeat: no-repeat;
}

h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2rem;
}

.headline-subtitle {
  color: #ffffff;
  font-size: 1.5rem;
  font-style: italic;
}

nav li + li:before {
  content: "/";
  margin: 0 10px;
}

h2 {
  color: #2c99b7;
}

h3 {
  text-transform: uppercase;
}

.footer-image {
  background-image: url("../images/lesson04-mock4-footer-image.jpg");
  background-repeat: no-repeat;
}

footer {
  color: #ffffff;
}
